:root {
    --color-success: #2ecc71;
    --color-error: #e74c3c;
    --color-border: #3498db;
    --color-background: #999;
    --color-background-container: #ddd;
    --color-text: #777;
    --color-text-btn: #fff;
    --color-text-input: #888;
    --color-text-heading: #666;
    --color-text-input-active: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-background);
}

.container {
    width: 400px;
    background-color: var(--color-background-container);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3)
}

.form {
    padding: 30px 40px;

}

.form__text {
    text-align: center;
    margin: 0 0 20px;
    text-transform: uppercase;
    color: var(--color-text-heading);
    font-size: 28px;
}

.form-control {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-control label {
    display: block;
    color: var(--color-text);
    margin-bottom: 5px;
}

.form-control__input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--color-border);
    color: var(--color-text-input);
    font-size: 16px;
    font-weight: 100;
}

.form-control__input:active,
.form-control__input:focus {
    color: var(--color-text-input-active);
    font-weight: 400;
}

.form-control input:focus {
    outline: 0;
    border-color: var(--color-border);
}

.form-control.success input {
    border-color: var(--color-success);
}

.form-control.error input {
    border-color: var(--color-error);
}

.form-control small {
    color: var(--color-error);
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-error);
    font-size: 12px;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form__btn {
    display: block;
    width: 100%;
    cursor: pointer;
    margin-top: 21px;
    padding: 10px;
    border: 2px solid var(--color-border);
    background-color: var(--color-border);
    color: var(--color-text-btn);
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;

}